/* src/EventGenerator.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.event-generator {
  position: fixed;
  top: 15px;
  left: 1%;
  z-index: 100;
}

.event-content {
  display: flex;
  flex-direction: column;
}

.event-card {
  padding: 6px 10px;
  border-radius: 4px;
  background-color: rgba(65, 42, 42, 0.9); /* Darker grey */
  color: #fff;
  margin-bottom: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  max-width: 85%;
  text-align: left;
  font-size: 18px;
  animation: sticky-timer-enter-animation 0.2s forwards ease-in-out;
}

.event-type {
  font-weight: 600;
  margin: 0;
}

.event-description {
  margin: 2px 0 6px;
}

.event-impact {
  margin-top: 6px;
  font-size: 10px;
}

.impact-point {
  margin: 1px 0;
}

.collapse-button {
  background-color: #222; /* Darker grey */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 3px 6px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 101;
  transition: background-color 0.3s ease;
}

.collapse-button:hover {
  background-color: #333; /* Slightly lighter grey on hover */
}

.sticky-timer-flair-text,
.sticky-timer-text,
.sticky-timer-subsection {
  font-family: "Oswald", sans-serif;
}

.sticky-timer-text {
  font-weight: 700;
  font-size: 24px;
}

.sticky-timer-subsection {
  font-weight: 200;
  font-size: 18px;
}