/* src/Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  width: 1920px;
  background-color: #222;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  height: 40px;
}

.current-event {
  flex: 1;
  text-align: left;
}

.temperature-bar-container {
  flex: 2;
  margin-left: 20px;
}
