/* App.css */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove scrollbars from the body */
}

/*.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
  background: url('./assets/background.jpg') no-repeat center center fixed;
}
*/

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Prevent scrollbars in the map container */
}

