.homepage-news-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 18px;
    align-items: stretch;
}

.left-section {
    display: block;
}

.float-image-left {
    float: left;
    margin-right: 15px;
    /* Add some margin to the right for spacing */
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.float-image-right {
    float: right;
    margin-left: 15px;
    /* Add some margin to the left for spacing */
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

img {
    width: 250px;
    height: 150px;
}

p {
    overflow-x: auto;
    display: inline;
}

@media screen and (max-width: 768px) {
    .homepage-news-column {
        width: 100%;
    }

    .float-image-left {
        width: 100%;
        height: 150px;
    }

    .float-image-right {
        width: 100%;
        height: 150px;
    }

    img {
        width: 100%;
        height: 150px;
        object-fit:scale-down;
    }
}