@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.hero-section {
    background: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #f81919;
}

.hero-section-flair-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 3rem;
}

.timer-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 7.5rem;
}

.time-subsection {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 3.5rem;
}

